{
    "server": "https://cytu.be",
    "username": "",
    "password": "",
    "channel": "",
    "database": {
        "username": "",
        "password": "",
        "database": "",
        "host": ""
    },
    "discord":{
        "token":"",
        "deleted-vids-channel": 0
    }
}